.vscode/**
client/**
server/**
analyzer/**
tools/toml-test/**
**/test/**
**/*.test.ts
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**
out/**/*.d.ts
out/**/*.js.map
out/tsconfig.tsbuildinfo
*.vsix
tsconfig.json
